//colors
$color1: #82b541;
$color2: #90d23d;
$color3: #a3cc40;
$white-color: #ffffff;
$header-background: #564f4f;
$title-color: #242424;
$form-color1: #6c6c6c;
$form-color2: #bebebe;
$table-color1: #373737;
$table-color2: #4b4d4f;
$card-title-color: #fefefe;

//fonts
$Roboto: "Roboto", sans-serif;
$Roboto-Slab: "Roboto Slab", sans-serif;
$Roboto-Thin: "Roboto Thin", sans-serif;
$Roboto-Black: "Roboto Black", sans-serif;